.booking_index{
  background-color: darken($background-color, 5%);

  h2{
    border-bottom: solid 2px $grey;
    margin-bottom: 10px;
  }

}

.journeys_you_booked{
  @include span-columns(5);
    
}

.journeys_you_sail{
  @include span-columns(5);
  @include shift(1);
}