.booking_index{

  h2{
    border-bottom: solid 2px $grey;
    margin-bottom: 20px;
  }

  .btn.orange{
    @include span-columns(6);
    @include shift(3);
    margin-top: 30px;
   

  }

  .journey_item{
    @include span-columns(6);
    @include omega(3n);
    background-color: darken($background-color, 10%);  
    padding: 30px 20px;
    margin-top: 20px;
    position: relative;
    
    .boat_image_journey{
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 5%;
      height: 85px;
      width: 85px;
      border: 1px solid black;
    }

  

  .booking_item{
    @include span-columns(3 of 6);
    background-color: darken($background-color, 15%);  
    padding: 20px 13px;
    margin-top: 20px;
    position: relative;

    .btn.turk{
      margin-bottom: 0;
    }

    .btn.b_w{
      display:block;
      margin-right: 0;
   
      &:nth-of-type(2){
        margin-top: 10px;
      }
    }

  }

}

.journeys_you_booked{
 @include span-columns(12);
 @include shift(0);

  .white_container{
    margin-bottom: 40px;
  }





  }

  .btn{
    margin: 20px 0;
  }

  .btn.turk{
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    &:first-of-type{
      margin-top: 20px;
    }
  }

  .btn.b_w{
    margin-right: 15px;
  }


    
}

.journeys_you_sail{
  @include span-columns(12);
  // @include shift(1);

  .white_container{
    margin-top: 0;
  }

  .btn.turk{
  width: 100%;
  margin: 20px 0;
  }

  .btn.b_w{
    margin-right: 15px;
  }
}


.edit_booking{
  @include outer-container; 
  .white_container{
    @include span-columns(6 of 12);
    @include shift(3);
  }

  .btn{
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  select{
    margin-left:0;
  }
}

