.btn{
  font-family: $font-heading;
  border: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  text-align: center;
  line-height: 40px; 
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  &.turk{
    background-color: $tertiary-color;
    color: white;
    display: inline-block;
    &:hover{
      background-color: saturate($tertiary-color, 10% );
    }
  }

  &.orange{
    background-color: $secondary-color;
    color: white;
    display: inline-block;
    &:hover{
      background-color: desaturate($secondary-color, 6%);
    }
  }

  &.b_w{
    padding: 3px 10px;
    border: solid 2px $grey;
    color: $grey;
    &:hover{
      background-color: darken($background-color, 2% )
    }
  }
}




input[type=file]::-webkit-file-upload-button  {
  margin-left: 0;
  padding: 5px 10px;
  font-family: $font-heading;
  border: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  line-height: 40px; 
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 3px 10px;
  border: solid 2px $grey;
  color: $grey;
}

#inner_editor{
  margin-left: 0;
  padding: 5px 10px;
  font-family: $font-heading;
  border: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  line-height: 40px; 
  border-radius: 5px;
  letter-spacing: 1px;
  padding: 3px 10px;
  border: solid 2px $grey;
  color: $grey;

}



