.btn{
  font-family: $font-heading;
  background-color: $tertiary-color;
  margin: 5px 7px 20px 7px;
  border: none; 
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  text-align: center;
  line-height: 40px; 
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover{
    background-color: saturate( $tertiary-color, 10% )
  }
}