select{
  padding: 5px;
  margin: 5px 7px 20px 7px;
  padding: 0 30px 0 15px;
  line-height: 40px; 
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
  display: inline-block;
  letter-spacing: 1px;
  font-family: $font-heading;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor:pointer;
}



input{   
  margin: 5px 7px 20px 7px;
  border: none; 
  font-family: $font-heading;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 5px;
  letter-spacing: 1px;
}

#searchbutton{
  background-color: $tertiary-color;
  color: white;
  &:hover{
    background-color: saturate( $tertiary-color, 10% )
  }
}

textarea{
  margin: 5px 7px 20px 7px;
  border: none; 
  font-family: $font-heading;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 5px;
  letter-spacing: 1px;

}