
.front_image{
  background: image-url("home_page3.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  z-index: -1;
  position: relative;
} 

.notice{
  position: absolute;
  font-size: 0.8em;
  z-index: 2;
  top: 4%;
  left: 20px;
  color: $background-color;
  letter-spacing: 0.2em;

}

.alert{
  position: absolute;
  font-size: 0.8em;
  z-index: 2;
  top: 4%;
  left: 20px;
  color: $background-color;
  letter-spacing: 0.2em;
}

.above_image{
  margin-top: -170px;
  z-index: 2;
  text-align: center;

  h1{
    font-size: 45px;
    font-style: italic;
    color: $secondary-color;  
    font-weight: 300;
    margin-bottom: 8px;
  }

}

.journeys_index_container{
  @include outer-container;
  margin-bottom: 80px;


  .journeys_index_item{
    @include span-columns(4);
    background-color: darken($background-color, 5%);  
    padding: 35px 20px 35px 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    .turk {
      display: block;
      width: 100%;
      margin: 20px 0;
      display: block;
    }
    .b_w{
      display: inline-block;
      margin-right: 10px;
    }
    p {
      display: inline-block;
    }

  }

}