// Place all the styles related to the Journeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//background_image_journey
.background_image{
 /* Set rules to fill background */
 min-height: 100%;
 min-width: 1024px;
 
 /* Set up proportionate scaling */
 width: 100%;
 height: auto;
 
 /* Set up positioning */
 position: fixed;
 top: 0;
 left: 0;
 z-index: -4;

}

.container_above_image{
  @include outer-container; 

}
.journey{
  @include span-columns(12);
  @include shift(0);
  background-color: rgba($background-color, 0.9);
  z-index:2;     
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
  .form_field{
    padding-bottom: 10px;

    label{
      float: left;
      text-align: right;
      margin-right: 15px;
      width: 200px;
    }
  }
}

.weather_icon{
  display: inline-block;
  -webkit-filter: saturate(30%);
}

.journey_information{
  @include span-columns(5 of 12);

  h1{
    margin: 0;
  }
  .date{
    font-style: italic; 
  }
}

.images_information{
  @include span-columns(3 of 12);
  position: relative;
  
  .boat_image_journey{
    width: 100%;
    border: solid 1px gray;
    z-index: 1;
  }

  .user_image_journey{
    width: 40%;
    border: dotted 1px gray;
    position: absolute; 
    top: -5px;
    right: -5px;
    z-index: 2;
    border-radius: 100%;
  }

}

.booking_information{
  @include span-columns(4 of 12);
}

#map_canvas{
  @include span-columns(12 of 12);
  
}


#start_port_lat, #start_port_long, #end_port_lat, #end_port_long{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

