// Place all the styles related to the Journeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front_image{
  margin-top: -20px;
  background: image-url("home_page3.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  z-index: -1;
} 

.above_image{
  margin-top: -200px;
  z-index: 2;
  text-align: center;

  h2{
    font-size: $heading-1;
    font-family: $font-heading;
    font-style: italic;
    color: $secondary-color;
    letter-spacing: 3px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  select{
    padding: 5px;
    margin: 5px 7px 20px 7px;
    text-align: center;
    padding: 0 15px;
    line-height: 40px; 
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $font-heading;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: $heading-3;
  }

  input{   
    margin: 5px 7px 20px 7px;
    font-size: $heading-3;
    border: none; 
    text-transform: uppercase;
    font-family: $font-heading;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 5px;
    letter-spacing: 1px;
  }

  #searchbutton{
    background-color: $tertiary-color;
    color: white;
    &:hover{
      background-color: saturate( $tertiary-color, 10% )
    }
  }
}

//background_image_journey
.background_image{
 /* Set rules to fill background */
 min-height: 100%;
 min-width: 1024px;
 
 /* Set up proportionate scaling */
 width: 100%;
 height: auto;
 
 /* Set up positioning */
 position: fixed;
 top: 0;
 left: 0;
 z-index: -4;

}

.container_above_image{
  @include outer-container; 

}
.journey{
  @include span-columns(8);
  @include shift(2);
  background-color: rgba($background-color, 0.9);
  z-index:2;     
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
  .form_field{
    padding-bottom: 10px;

 label{
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 200px;
  }
}
}

