// Place all the styles related to the Journeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//background_image_journey
.background_image{
 /* Set rules to fill background */
 min-height: 100%;
 min-width: 1024px;
 
 /* Set up proportionate scaling */
 width: 100%;
 height: auto;
 
 /* Set up positioning */
 position: fixed;
 top: 0;
 left: 0;
 z-index: -4;

}

.container_above_image{
  @include outer-container; 

}


.weather_icon_container{
  height: 30px;
  width: 40px;
  overflow: hidden;
  position: relative;  
  display: inline-block;

  .weather_icon{
    -webkit-filter: saturate(30%);
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; 
  }

}

#current_weather_partial{
  color: $background-color;
  padding-left: 20px;
  margin: 20px 0 40px 0;
  
  p{ 
    display: inline-block;
  }
  img{
    display:inline-block;
  }
}

.journey_information{
  @include span-columns(5 of 12);

  h1{
    margin: 0;

  }

  h3{
    display: inline-block;
    margin: 20px 0 0 0;
  }
  p{
    display: inline-block;
  }
  .btn{
    margin-left: 0;
    margin-right: 0;

  }
}

.images_information{
  @include span-columns(3 of 12);
  position: relative;
  
  .boat_image_journey{
    width: 100%;
    border: solid 1px gray;
    z-index: 1;
    border-radius: 3px;
  }

  .user_image_journey {
    width: 30%;
    position: absolute; 
    top: -8px;
    right: -8px;
    z-index: 2;
    border-radius: 100%;
    transition: width 0.5s ease;
    transform: rotate(10deg);
    &:hover{
      width: 35%;

    }
  }

  .btn{
    margin-top: 20px;
    width: 100%;
  }


}

.booking_information{
  @include span-columns(4 of 12);
  // background-color: saturate($background-color, 90% );
  background-color: darken($background-color, 10%);  
  padding: 20px 20px 35px 20px;
  height: 100%;
  .btn{
    margin-top: 20px;
    width: 100%;
  }
}

#map_canvas{
  @include span-columns(12 of 12);
  
}


#start_port_lat, #start_port_long, #end_port_lat, #end_port_long{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.social-share-button{
  -webkit-filter: saturate(30%);
  margin-bottom: 50px;


  .social-share-button-twitter{
    margin-right: 5px;
  }

  .social-share-button-facebook{
    margin-right: 5px;
  }

}

