@-webkit-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes move-down {
  from   { top: 55px; }
  to { top: 72px; }
}
@-moz-keyframes move-down {
  from   { top: 55px; }
  to { top: 72px; }
}
@-ms-keyframes move-down {
  from   { top: 55px; }
  to { top: 72px; }
}