body{
  font-family: $font-text;
  a{
    text-decoration: none;
  }
}

nav{
  background-color: $primary-color;

  .logo{
    @include span-columns(8);
  }

  ul {
    padding-left: 0;
    li{
      list-style: none;
    }
  }
}

.list_items {
 cursor: default;
 display: inline-block;
 position: relative;

.profile_link a{
  padding: 0 80px 80px 80px;
}

 .popover {
   background-color: $secondary-color;
   border-radius: 5px;
   top: 42px;
   color: #fff;
   display: none;
   padding: 7px 10px;
   position: absolute;
   width: 200px;
   z-index: 2;

  // to create the speech bubble at the bottom
   &:before {
     border-bottom: 7px solid $secondary-color;
     border-right: 7px solid transparent;
     border-left: 7px solid transparent;
     top: -7px;
     content: '';
     display: block;
     left: 50%;
     margin-left: -7px;
     position: absolute;
   }
   ul {
    padding-left: 0;
   }
 }

 &:hover {
   .popover {
     display: block;
     -webkit-animation: fade-in .3s linear 1, move-down .3s linear 1;
     -moz-animation: fade-in .3s linear 1, move-down .3s linear 1;
     -ms-animation: fade-in .3s linear 1, move-down .3s linear 1;
   }
 }
}


@-webkit-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fade-in {
  from   { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes move-down {
  from   { top: 30px; }
  to { top: 42px; }
}
@-moz-keyframes move-down {
  from   { top: 30px; }
  to { top: 42px; }
}
@-ms-keyframes move-down {
  from   { top: 30px; }
  to { top: 42px; }
}









#map_canvas{
  height: 200px;
  background-color: grey;

}