html {
  position: relative;
  min-height: 100%;
}


body{
  font-family: $font-text;
  color: $grey;
  letter-spacing: 1px;
  line-height: 1.7;
  background-color: darken($background-color, 8%);
  a{
    text-decoration: none;

    &:visited{

    }
  }

}

p{
  font-size: 16px;
  margin: 0;

}

h1{
  font-family: $font-heading;
  font-size: 35px;
  letter-spacing: 3px;
  margin: 0;

}

h2{
  font-family: $font-heading;
  font-size: 25px;
  letter-spacing: 1.8px;
  margin: 0;
}

h3{
  font-family: $font-heading;
  font-size: 18px;
  letter-spacing: 1.5px;
  margin: 0;

}
main{
  clear: both;
}

.date{
  font-style: italic; 
  border-bottom: solid 2px $grey;
  font-size: 0.85em;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.white_container{
  @include span-columns(12);
  @include shift(0);
  background-color: rgba($background-color, 0.9);
  z-index:2;     
  padding: 50px 35px;
  border-radius: 5px;
  margin: 80px 0 160px 0;
  .form_field{
    padding-bottom: 10px;

    label{
      float: left;
      text-align: right;
      margin-right: 15px;
      width: 200px;
    }
  }
}

#map_canvas{
  margin-top: 50px;
  height: 500px;

}

.css-typing{
    width: 432px;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 3s steps(28, end);
    animation: type 3s steps(28, end);
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes type{
    from { width: 0; }
}




// footer
