body{
  font-family: $font-text;
  color: $grey;
  a{
    text-decoration: none;
  }
}

nav{
  background-color: $primary-color;  
  font-family: $font-heading;
  line-height: 80px; 
  letter-spacing: 1px;
  a{
    color: white;
  }
  
  ul {
    padding-left: 0;
    margin-top: 0;
    display: inline-block;
    li{
      list-style: none;
    }
  }
}

.logo{
  font-size: $heading-1;
  display: inline-block;
  padding-left: 20px;

}

.list_sailing{   
  display: inline-block;
  float: right;
  padding-right: 20px;

  a{
    background-color: $grey;
    padding: 5px 10px;
    border-radius: 5px;
  }

}

.list_items {
  cursor: default;
  position: relative;
  display: inline-block;
  float: right;


  .profile_link a{
    padding: 35px 60px  60px  60px;
  }

  .popover {
    display: inline-block;
    background-color: $secondary-color;
    border-radius: 5px;
    top: 70px;
    color: #fff;
    display: none;
    padding: 12px;
    position: absolute;
    z-index: 2;
    line-height:30px;

  // to create the speech bubble at the bottom
  &:before {
   border-bottom: 7px solid $secondary-color;
   border-right: 7px solid transparent;
   border-left: 7px solid transparent;
   top: -7px;
   content: '';
   display: block;
   left: 50%;
   margin-left: -7px;
   position: absolute;
 }
}
&:hover {
 .popover {
   display: block;
   -webkit-animation: fade-in .3s linear 1, move-down .3s linear 1;
   -moz-animation: fade-in .3s linear 1, move-down .3s linear 1;
   -ms-animation: fade-in .3s linear 1, move-down .3s linear 1;
 }
}

} //end of list_items


main{
  clear: both;
}


//journey_page
.front_image{
  margin-top: -20px;
  background: image-url("home_page3.jpg") no-repeat center center; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  z-index: -1;
} 

.above_image{
  margin-top: -200px;
  z-index: 2;
  text-align: center;

  h2{
    font-size: $heading-1;
    font-family: $font-heading;
    font-style: italic;
    color: $secondary-color;
    letter-spacing: 3px;
    font-weight: 300;
  }

  select{
    padding: 5px;
    margin: 5px 7px 20px 7px;
    text-align: center;
    padding: 0 15px;
    line-height: 40px; 
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $font-heading;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: $heading-3;
  }

  input{   
    margin: 5px 7px 20px 7px;
    font-size: $heading-3;
    border: none; //darkgrey
    text-transform: uppercase;
    font-family: $font-heading;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 5px;
    letter-spacing: 1px;
  }

  #searchbutton{
    background-color: $tertiary-color;
    color: white;
    &:hover{
      background-color: saturate( $tertiary-color, 10% )
    }
  }
}



#map_canvas{
  height: 200px;
  background-color: grey;

}