body{
  font-family: $font-text;
  color: $grey;
  letter-spacing: 1px;
  a{
    text-decoration: none;
  }
}

nav{
  background-color: $primary-color; 
  @include fill-parent();
  font-family: $font-heading;
  line-height: 80px; 
  .anchor{
    height: 30px;
    padding-left: 20px;
    line-height: 80px; 
    -webkit-animation: anchor-rotate alternate-reverse cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.7s infinite both; 
    -webkit-transform-origin:top;
  }
  a{
    color: white;
  }
  
  ul {
    padding-left: 0;
    margin-top: 0;
    display: inline-block;
    li{
      list-style: none;
    }
  }
}

.logo{
  font-size: $heading-1;
  display: inline-block;
  padding-left: 20px;

}

.list_sailing{   
  display: inline-block;
  float: right;
  padding-right: 10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  a{
    background-color: lighten( $grey, 10% );
    padding: 5px 40px 5px 10px;
    border-radius: 5px;
    &:hover{
      background-color: $grey;
    }

    &:before {
      content: "➞";
      position: absolute;
      right: 1.5em;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    &:hover:before, &:focus:before, &:active:before {
      -webkit-animation: icon-wobble-horizontal 1s ease-in-out 1;
      animation-name: icon-wobble-horizontal 1s ease-in-out 1;
    }
  }


}

.list_items {
  cursor: default;
  position: relative;
  display: inline-block;



  .profile_link a{
    padding: 35px 60px  60px  60px;
  }

  .popover {
    background-color: $secondary-color;
    border-radius: 5px;
    top: 70px;
    color: #fff;
    display: none;
    padding: 12px;
    position: absolute;
    z-index: 5;
    line-height:30px;
    width: 200px;

  // to create the speech bubble at the bottom
  &:before {
   border-bottom: 7px solid $secondary-color;
   border-right: 7px solid transparent;
   border-left: 7px solid transparent;
   top: -7px;
   content: '';
   display: block;
   left: 50%;
   margin-left: -7px;
   position: absolute;
   content: "";
 }
  a{
    position: relative;
  }
 // to create underscore effect
   a:before{
    content: "";
      position: absolute;
      width: 100%;
      height: 1.5px;
      bottom: -3px;
      left: 0;
      background-color: white;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
   }
   a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
   }
}
&:hover {
 .popover {
   display: block;
   -webkit-animation: fade-in .3s linear 1, move-down .3s linear 1;
   -moz-animation: fade-in .3s linear 1, move-down .3s linear 1;
   -ms-animation: fade-in .3s linear 1, move-down .3s linear 1;
 }
}

} //end of list_items



main{
  clear: both;
}

.btn{
  background-color: $tertiary-color;
  margin: 5px 7px 20px 7px;
  font-size: $heading-3;
  border: none; 
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  text-align: center;
  line-height: 40px; 
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover{
    background-color: saturate( $tertiary-color, 10% )
  }
}




//journey_page ... to be put in the journey.css file 
.front_image{
  margin-top: -20px;
  background: image-url("home_page3.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  z-index: -1;
} 

.above_image{
  margin-top: -200px;
  z-index: 2;
  text-align: center;

  h2{
    font-size: $heading-1;
    font-family: $font-heading;
    font-style: italic;
    color: $secondary-color;
    letter-spacing: 3px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  select{
    padding: 5px;
    margin: 5px 7px 20px 7px;
    text-align: center;
    padding: 0 15px;
    line-height: 40px; 
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $font-heading;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: $heading-3;
  }

  input{   
    margin: 5px 7px 20px 7px;
    font-size: $heading-3;
    border: none; 
    text-transform: uppercase;
    font-family: $font-heading;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 5px;
    letter-spacing: 1px;
  }

  #searchbutton{
    background-color: $tertiary-color;
    color: white;
    &:hover{
      background-color: saturate( $tertiary-color, 10% )
    }
  }
}


//background_image_journey
.background_image{
 /* Set rules to fill background */
 min-height: 100%;
 min-width: 1024px;
 
 /* Set up proportionate scaling */
 width: 100%;
 height: auto;
 
 /* Set up positioning */
 position: fixed;
 top: 0;
 left: 0;
 z-index: -4;

}

.container_above_image{
  @include outer-container; 

}
.journey{
  @include span-columns(8);
  @include shift(2);
  background-color: rgba($background-color, 0.9);
  z-index:2;     
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
  .form_field{
    padding-bottom: 10px;

 label{
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 200px;
  }
}
}


#map_canvas{
  height: 200px;
  background-color: grey;

}



// footer
footer{
  font-family: $font-heading;
  width: 100%;
  position: absolute;
  height: 80px;

  left: 0;
  background-color: $grey;
  color: $secondary-color;
  padding: 20px;
  text-align: center;
  a {
    color: #fff;
    text-decoration: none;
    &:link, &:visited, &:active {
      color: #fff;
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  } 
}