.users_show{

  .img_user{
    width: 200px;
  }
  .date{
    border: none;
    margin-bottom: 0;
  }

  h3{
    margin: 25px 0 15px 0;
  }

  .btn{
    margin: 15px 0;
  }

}

.user_column{
  @include span-columns(5 of 12);
}

.boat_column{
  @include span-columns(5 of 12);
}

.journey_history_column{
  @include span-columns(12);
  border-top: solid 2px $grey;
  margin-top: 40px;

}