.users_show{

  .img_user{
    width: 200px;
  }
  .date{
    border: none;
    margin-bottom: 0;
  }

  h3{
    margin: 25px 0 15px 0;
  }

  .btn{
    margin: 15px 0;
  }

}


.user_column{
  @include span-columns(5 of 12);
}

.boat_column{
  @include span-columns(5 of 12);
}

.journey_history_column{
  @include span-columns(12);
  border-top: solid 2px $grey;
  margin-top: 40px;

}


// users sign in
.users_sign_in{
  @include outer-container; 
  .white_container{
    @include span-columns(6 of 12);
    @include shift(3);
  }

  h1{
    margin-bottom: 20px;
  }
  input{
    margin-left: 0;
    width: 100%;
    text-align: left;
  }
  .btn{
    width: 100%;
  }

  .sign_up{
    border: 2px solid $tertiary-color;
    background: $background-color;
    color: $tertiary-color;
    margin-bottom: 30px;
  }

  .sign_up:hover{
    background-color: darken($background-color, 2% )

  }

  .password{

  }
}