$font-text: "adelle";
$font-heading:  "brandon-grotesque";


$background-color: #FCFCFC;
$grey: #354952;
$primary-color: #8DBCF4; //blue
$secondary-color: #EB6A4D; //orange
$tertiary-color: #65B58F; //turkoise

$heading-1: 45px;
$heading-2: 30px;
$heading-3: 12px;

