$font-text: "jubilat";
$font-heading:  "brandon-grotesque";


$background-color: #FCFCFC;
$grey: #354952;
$primary-color: #8DBCF4;
$secondary-color: #EB6A4D;
$tertiary-color: #65B58F;

$heading-1: 40px;
$heading-2: 30px;
