// current weather at start and end port. 

%p
  = "Current weather: #{@journey.weather_main(@location)}, #{@journey.weather_temp(@location).round}°."


.weather_icon_container
  =image_tag "http://openweathermap.org/img/w/#{@journey.weather_icon(@location)}.png", class: "weather_icon"
